$background:      #eaeaea;
$black:           #1a171b;
$light_grey:      #999;
$highlight_grey:  #cacaca;
$dark_grey:       #333;
$white:           #f0f0f0;

$red:             #DC6A6A;
$green:           #24820f;
$blue:            #2A8FBD;

/** MUST BE FIRST **/
@import "partials/before";

/** COMPASS HELPERS **/
@import "compass/css3/border-radius";
@import "compass/typography/links/link-colors";
@import "compass/utilities/general/clearfix";

@import "partials/layout";

a {
  outline: none;
  /** link-colors($normal, $hover, $active, $visited, $focus) **/
  @include link-colors($dark_grey, $light_grey, $dark_grey, $dark_grey, $light_grey)
}

.clear {
  clear: both;
}

.hint {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.6em;
}

.centered {
  text-align: center;
}

h1 {
  font-family:Georgia,serif;
  font-size:250%;
  font-style:italic;
  font-weight:normal;
  letter-spacing:-1px;
  line-height:1.2em;
  margin:0.5em 0;
  clear: both;
}

h2 {
  font-family:Georgia,serif;
  font-size:200%;
  font-style: normal;
  font-weight:normal;
  letter-spacing:-1px;
  line-height:1.2em;

  margin:0.5em 0;
}

h2 a {
  color: $light_grey;
}

article {
  border-bottom: 1px solid $white;
}

.published_at {
  font-family:Georgia,serif;
  font-size:150%;
  font-style: normal;
  font-weight:normal;
  letter-spacing:-1px;
  line-height:1.2em;
  margin:0.5em 0;  
}

.like_box {
  background: $white;
  @include border-radius(10px);
  padding: 10px;
  margin: 10px;
}

.facebook {
  background: url('/images/facebook.png') center left no-repeat;
  height: 20px;
  min-height: 20px;
  height: auto !important;
  padding: 0 0 0 20px;
  line-height: 20px;
}

@import "partials/images";
@import "partials/events";
@import "libs/jquery.fancybox-1.3.4";

// Must be last
@import "partials/after";