- @meta_title = event.name
- @meta_description = event.description

%h1= @meta_title

= haml(:_single_event, :layout => false, :locals => { :event => event, :standalone => true })

- if event.attending.any?
  %h2 People attending
  %ul#attendees.clearfix
    - event.attending.each do |attendee|
      %li
        %a{ :href => "https://www.facebook.com/profile.php?id=#{attendee.id}", :title => attendee.short_name }
          %img{ :src => "http://graph.facebook.com/#{attendee.id}/picture?type=square" }