- @meta_title = "Welcome!"
- @meta_description = "...powered by Facebook Graph API."

%h1.centered= @meta_title

%h2 News

- posts.each do |post|
  %article
    %p.published_at
      %time{ :pubdate => "pubdate", :datetime => post.upated_at.iso8601 }= post.date
    %p= nl2br(linkify post.message)