@charset "UTF-8";
/** MUST BE FIRST **/
/*  HTML5 ✰ Boilerplate  What follows is the result of much research on cross-browser styling.  Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team.  Detailed information about this CSS: h5bp.com/css  ==|== normalize ========================================================== */
/* ============================================================================= HTML5 display definitions ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; }

[hidden] { display: none; }

/* ============================================================================= Base ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units 2. Force vertical scrollbar in non-IE 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*  Remove text-shadow in selection highlight: h5bp.com/i These selection declarations have to be separate Also: hot pink! (or customize the background color to match your design) */
::-moz-selection { background: #2a8fbd; color: #fff; text-shadow: none; }

::selection { background: #2a8fbd; color: #fff; text-shadow: none; }

/* ============================================================================= Links ========================================================================== */
a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/* ============================================================================= Typography ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ============================================================================= Lists ========================================================================== */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* ============================================================================= Embedded content ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d 2. Remove the gap between images and borders on image containers: h5bp.com/e  */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* Correct overflow not hidden in IE9  */
svg:not(:root) { overflow: hidden; }

/* ============================================================================= Figures ========================================================================== */
figure { margin: 0; }

/* ============================================================================= Forms ========================================================================== */
form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*  1. Correct color not inheriting in IE6/7/8/9  2. Correct alignment displayed oddly in IE6/7  */
legend { border: 0; *margin-left: -7px; padding: 0; }

/* 1. Correct font-size not inheriting in all browsers 2. Remove margins in FF3/4 S5 Chrome 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) 2. Correct inner spacing displayed oddly in IE6/7 */
button, input { line-height: normal; *overflow: visible; }

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input { *overflow: auto; }

/* 1. Display hand cursor for clickable form elements 2. Allow styling of clickable form elements in iOS */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*  Remove inner padding and border in FF3/4: h5bp.com/l  */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*  1. Remove default vertical scrollbar in IE6/7/8/9  2. Allow only vertical resizing */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* ============================================================================= Tables ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

/** COMPASS HELPERS **/
html, body { height: 100%; }

html { background: #fff; overflow: -moz-scrollbars-vertical; }

body { font-family: Helvetica, "Helvetica Neue", Arial, sans-serif; text-align: center; margin: 0; }

#container { width: 720px; height: 100%; min-height: 100%; height: auto !important; color: #1a171b; margin: 0px auto; padding: 0; text-align: left; }

header { padding: 20px 0 0 0; text-align: center; }

nav { font-family: Georgia,serif; font-size: 100%; font-style: normal; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; line-height: 1.7em; height: 50px; text-align: center; display: table; /* Allow the centering to work */ margin: 0 auto; }

nav a { color: #1a171b; }

nav ul { list-style: none; }

nav ul li { display: inline; margin: 0 10px; }

#content { clear: both; padding: 0 40px 0; }

footer { margin: 0; padding: 0 40px 20px; clear: both; }

a { outline: none; /** link-colors($normal, $hover, $active, $visited, $focus) **/ color: #333333; }
a:visited { color: #333333; }
a:focus { color: #999999; }
a:hover { color: #999999; }
a:active { color: #333333; }

.clear { clear: both; }

.hint { font-size: 11px; font-style: normal; font-weight: normal; text-transform: uppercase; letter-spacing: normal; line-height: 1.6em; }

.centered { text-align: center; }

h1 { font-family: Georgia,serif; font-size: 250%; font-style: italic; font-weight: normal; letter-spacing: -1px; line-height: 1.2em; margin: 0.5em 0; clear: both; }

h2 { font-family: Georgia,serif; font-size: 200%; font-style: normal; font-weight: normal; letter-spacing: -1px; line-height: 1.2em; margin: 0.5em 0; }

h2 a { color: #999999; }

article { border-bottom: 1px solid #f0f0f0; }

.published_at { font-family: Georgia,serif; font-size: 150%; font-style: normal; font-weight: normal; letter-spacing: -1px; line-height: 1.2em; margin: 0.5em 0; }

.like_box { background: #f0f0f0; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; padding: 10px; margin: 10px; }

.facebook { background: url("/images/facebook.png") center left no-repeat; height: 20px; min-height: 20px; height: auto !important; padding: 0 0 0 20px; line-height: 20px; }

#images { list-style: none; margin: 0; padding: 0; }

#images li { width: 190px; float: left; margin: 10px; }

#images a.img_wrap { display: block; width: 180px; padding: 4px; background: #f0f0f0; border: 1px solid #999999; }

#images a.img_wrap:hover { border: 1px solid #cacaca; }

#images a.title { display: block; font-size: 15px; font-weight: bold; line-height: 18px; margin: 5px; }

.cover { width: 180px; height: 120px; background-position: center center; background-repeat: no-repeat; }

#events { list-style: none; margin: 0; padding: 0; }

.single_event { background: #f0f0f0; color: #333333; margin: 10px; padding: 20px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; overflow: hidden; *zoom: 1; }

.single_event h2 { margin: 0 0 10px 0; line-height: 1em; font-size: 200%; }

.single_event h2 a { color: #333333; }
.single_event h2 a:visited { color: #333333; }
.single_event h2 a:focus { color: #999999; }
.single_event h2 a:hover { color: #999999; }
.single_event h2 a:active { color: #333333; }

.col_l { float: left; width: 80px; }

.col_r { float: left; width: 500px; }

.cal_month { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; width: 60px; background: #dc6a6a; color: #fff; text-transform: uppercase; text-align: center; font-size: 16px; font-weight: bold; padding: 3px 0 1px; }

.cal_day { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; width: 60px; background: #fff; color: #333333; text-align: center; font-size: 36px; font-weight: bold; padding: 5px 0; }

p.location { margin: 0 0 10px; }

span.region, span.country { display: none; }

time { margin: 0 0 10px; }

#attendees { list-style: none; margin: 0; padding: 0; }

#attendees li { float: left; margin: 0; }

/* FancyBox - jQuery Plugin Simple and fancy lightbox alternative  Examples and documentation at: http://fancybox.net  Copyright (c) 2008 - 2010 Janis Skarnelis That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.  Version: 1.3.4 (11/11/2010) Requires: jQuery v1.3+  Dual licensed under the MIT and GPL licenses: http://www.opensource.org/licenses/mit-license.php http://www.gnu.org/licenses/gpl.html */
#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }

#fancybox-loading div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background-image: url("/images/fancybox/fancybox.png"); }

#fancybox-overlay { position: absolute; top: 0; left: 0; width: 100%; z-index: 1100; display: none; }

#fancybox-tmp { padding: 0; margin: 0; border: 0; overflow: auto; display: none; }

#fancybox-wrap { position: absolute; top: 0; left: 0; padding: 20px; z-index: 1101; outline: none; display: none; }

#fancybox-outer { position: relative; width: 100%; height: 100%; background: #fff; }

#fancybox-content { width: 0; height: 0; padding: 0; outline: none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid #fff; }

#fancybox-hide-sel-frame { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; z-index: 1101; }

#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url("/images/fancybox/fancybox.png") -40px 0px; cursor: pointer; z-index: 1103; display: none; }

#fancybox-error { color: #444; font: normal 12px/20px Arial; padding: 14px; margin: 0; }

#fancybox-img { width: 100%; height: 100%; padding: 0; margin: 0; border: none; outline: none; line-height: 0; vertical-align: top; }

#fancybox-frame { width: 100%; height: 100%; border: none; display: block; }

#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: none; background: transparent url("/images/fancybox/blank.gif"); z-index: 1102; display: none; }

#fancybox-left { left: 0px; }

#fancybox-right { right: 0px; }

#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }

#fancybox-left-ico { background-image: url("/images/fancybox/fancybox.png"); background-position: -40px -30px; }

#fancybox-right-ico { background-image: url("/images/fancybox/fancybox.png"); background-position: -40px -60px; }

#fancybox-left:hover, #fancybox-right:hover { visibility: visible; /* IE6 */ }

#fancybox-left:hover span { left: 20px; }

#fancybox-right:hover span { left: auto; right: 20px; }

.fancybox-bg { position: absolute; padding: 0; margin: 0; border: 0; width: 20px; height: 20px; z-index: 1001; }

#fancybox-bg-n { top: -20px; left: 0; width: 100%; background-image: url("/images/fancybox/fancybox-x.png"); }

#fancybox-bg-ne { top: -20px; right: -20px; background-image: url("/images/fancybox/fancybox.png"); background-position: -40px -162px; }

#fancybox-bg-e { top: 0; right: -20px; height: 100%; background-image: url("/images/fancybox/fancybox-y.png"); background-position: -20px 0px; }

#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url("/images/fancybox/fancybox.png"); background-position: -40px -182px; }

#fancybox-bg-s { bottom: -20px; left: 0; width: 100%; background-image: url("/images/fancybox/fancybox-x.png"); background-position: 0px -20px; }

#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url("/images/fancybox/fancybox.png"); background-position: -40px -142px; }

#fancybox-bg-w { top: 0; left: -20px; height: 100%; background-image: url("/images/fancybox/fancybox-y.png"); }

#fancybox-bg-nw { top: -20px; left: -20px; background-image: url("/images/fancybox/fancybox.png"); background-position: -40px -122px; }

#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }

.fancybox-title-inside { padding-bottom: 10px; text-align: center; color: #333; background: #fff; position: relative; }

.fancybox-title-outside { padding-top: 10px; color: #fff; }

.fancybox-title-over { position: absolute; bottom: 0; left: 0; color: #FFF; text-align: left; }

#fancybox-title-over { padding: 10px; background-image: url("/images/fancybox/fancy_title_over.png"); display: block; }

.fancybox-title-float { position: absolute; left: 0; bottom: -20px; height: 32px; }

#fancybox-title-float-wrap { border: none; border-collapse: collapse; width: auto; }

#fancybox-title-float-wrap td { border: none; white-space: nowrap; }

#fancybox-title-float-left { padding: 0 0 0 15px; background: url("/images/fancybox/fancybox.png") -40px -90px no-repeat; }

#fancybox-title-float-main { color: #FFF; line-height: 29px; font-weight: bold; padding: 0 0 3px 0; background: url("/images/fancybox/fancybox-x.png") 0px -40px; }

#fancybox-title-float-right { padding: 0 0 0 15px; background: url("/images/fancybox/fancybox.png") -55px -90px no-repeat; }

/* IE6 */
.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_nav_left.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }

.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_title_left.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_title_main.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame { height: expression(this.parentNode.clientHeight + "px"); }

#fancybox-loading.fancybox-ie6 { position: absolute; margin-top: 0; top: expression((-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px'); }

#fancybox-loading.fancybox-ie6 div { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/* ==|== non-semantic helper classes ======================================== Please define your styles before this section. ========================================================================== */
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }

.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

/* ==|== media queries ====================================================== PLACEHOLDER Media Queries for Responsive Design. These override the primary ('mobile first') styles Modify as content requires. ========================================================================== */
@media only screen and (min-width: 480px) { /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) { /* Style adjustments for viewports 768px and over go here */ }
/* ==|== print styles ======================================================= Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ========================================================================== */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
